.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    justify-content: center;
  }

  .flex-container > button {
    background-color: #dee978;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: rgba(226, 38, 69, 0.925);
  }

  .flex-container > button:hover {
    background-color: rgba(247, 211, 70, 0.801);
  }